/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.Loginbody {
  width: 99vw;
  height: 97.5vh;
  display: flex;
  background: linear-gradient(to left, #a3eff1, #0d99ba);
}
.LoginContainer {
  width: 25%;
  left: 66%;
  padding: 0 30px;
  position: fixed;
  align-items: center;
  text-align: center;
  top: 24%;
  background: #01286623;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
}

.LoginInput {
  position: relative;
  border-bottom: 2px solid #000;
  margin: 15px 0;
}

.LoginInput label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.LoginInput input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
}

.LoginInput input:focus ~ label,
.LoginInput input:valid ~ label {
  font-size: 0.8rem;
  font-weight: bold;
  top: 10%;
  transform: translateY(-120%);
}

.LoginForget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #000;
}

.LoginInput span {
  width: 2rem;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383634;

  svg {
    width: 70%;
    height: 100%;
  }
}

#remember {
  accent-color: #000;
}

.LoginForget label {
  display: flex;
  align-items: center;
}

.LoginForget label p {
  margin-left: 8px;
  font-size: 14px;
}

.Loginmsg {
  color: red;
  font-size: 12px;
  margin-right: 70%;
  text-wrap: nowrap;
  margin-bottom: 2%;
  margin-top: -2%;
}
.LoginContainer a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.LoginContainer a:hover {
  text-decoration: underline;
  color: blue;
}

.LoginButton button {
  background: #03193b;
  color: #fff;
  font-weight: 300;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.LoginButton button:hover {
  color: #03193b;
  border-color: #03193b;
  background: rgba(255, 255, 255, 0.15);
}

.Logincurvecontainer {
  width: 60%;
  border-radius: 0 0 100% 0;
  background: #03193b;
}

.Loginleftpanel img {
  width: 40%;
  display: flex;
  margin-left: 20%;
  margin-top: 10%;
}
