/* AppointmentTable.css */

.app_Table {
    /* Add your custom styles here */
    border: 2px solid #000000;
    border-radius: 15px;
    margin-top: 2%;
    padding: 0.4%;
  }
  
  .app_Table .p-datatable-header {
    /* Styles for the header */
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .app_Table .p-datatable-row {
    /* Styles for each row */
  }
  
  .app_Table .p-datatable-row:hover {
    /* Styles for a row on hover */
    background-color: #e9ecef;
  }
.app_Table{

}  