.navDate {
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(83, 83, 83);
  border-width: 2px;
  align-items: center;
  font: size 110%;
  text-wrap: nowrap;  
}