.navDate {
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(83, 83, 83);
  border-width: 2px;
  align-items: center;
  font-size: 19px;
  text-wrap: nowrap;
  margin: 0px;
  display: inline-block;
}

.dateStyle{
  padding : 0px 10px;
}
