/* .navDate {
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(83, 83, 83);
  border-width: 2px;
  align-items: center;
  font-size: 19px;
  text-wrap: nowrap;
} */
.navDate {
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-radius: 17px; /* Reduced border-radius to adjust for padding */
  border-color: rgb(83, 83, 83);
  border-width: 2px;
  align-items: center;
  font-size: 19px;
  text-wrap: nowrap;
  padding-right: 1%;
  padding-left: 1%;
  margin-left: 65%;
}
.language{
  margin-right: 3%;
}