*{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -80px  ;
}

.aligment{
   display: flex;
   margin-top: 1%;
   margin-bottom: 9%;
   flex-direction: row;
   justify-content: space-between;
   
  
}

.H_image{
  max-width: 100%;
  margin-left: 10px;
}

.N_image{
  max-width: 100%;
  margin-top: 10px;
  margin-right: 5px;
}

.img-btn{
  border: none;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.inp{
  align-items: center;
  border: none;
  height: 30px;
  margin-top: 0px;
}

.Cointainer{
  border-style: solid;
  border-radius:0.5%;
  border-color: rgb(65, 65, 65);
  height: fit-content;
  justify-content: center;
  

}

.Charts{
 margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.Line{
  border-style: solid;
  border-radius:15px;
  border-color: rgb(65, 65, 65);
  border-width: 2px;
  padding: 10px;  
}
.Bar{
  margin-left: 20px;
  border-style: solid;
  border-radius:15px;
  border-color: rgb(65, 65, 65);
  border-width: 2px;
  padding: 10px;
  
}