*{
    font-family: 'Roboto', sans-serif;
}

.navbar-doctor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchinputbar {
    width: 300px;
    height: 35px;
    box-shadow: none;
    display: flex;
    margin-bottom: 5px;
    border-color: #949292ef;

}

.doctor-navbar2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unavailable {
    margin-left: 80px;
}

.doctor-table {
    margin-top: 30px;
}


