.searchbar{
    
    border-style: solid;
    border-radius: 40px 0 0 40px;
    display: flex;
    border-width: thin;
    align-items: center;
    padding: 10px;
    height: 35px;
    background-color: transparent;
}

.searchinput {
    width: 300px;
    height: 25px;
    border: none;
    padding: 10px;
    outline-color: transparent;
    background-color: transparent;
}

.searchbutton {
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 35px;
    background-color: transparent;
    z-index: -1;
}

.searchbar1 {
    border-style: solid;
    border-radius: 0 40px 40px 0;
    display: flex;
    border-width: thin;
    align-items: center;
    border-left: transparent;
    padding: 10px;
    height: 35px;
    background-color: transparent;
    
}
.searchbar1:hover{
    cursor: pointer;
}

