* {
  font-family: "Roboto", sans-serif;
}
/* Create two unequal columns that floats next to each other */
.column {
  width: max-content;
  height: max-content;
  float: left;
  padding: 0.5%;
}

.left {
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
}

.right {
  width: 80%;
  /* margin-left: 0%; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
