* {
  font-family: 'Lato', sans-serif;
font-family: 'Yuji Hentaigana Akari', cursive;
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
.column {
  width: max-content;
  height: max-content;
  float: left;
  padding: 0.5%;
}

.left {
<<<<<<< HEAD
  background:transparent;
  width: 20%;
  height: 110%;
=======
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
>>>>>>> 02b2ec3e6200317569ed8c2adc3d9a0394a24897
}

.right {
  width: 80%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
<<<<<<< HEAD

.input{
  width: 100% !important;
}
=======
>>>>>>> 02b2ec3e6200317569ed8c2adc3d9a0394a24897
